@charset "utf-8";
/*code by zhangeryi*/
/*css重置*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, small {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 22px;
    font-family: "Microsoft Yahei", "微软雅黑", "Arial Narrow", "宋体";
    color: #333333;
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
    overflow: hidden;
}

input, select {
    vertical-align: middle;
    font-size: 12px;
}

ol, ul, li {
    list-style: none;
}

i {
    font-style: normal;
}

img {
    border: 0;
}

ul, li {
    list-style-type: none;
}

/*全局公用*/
.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.f12 {
    font-size: 12px
}

.f14 {
    font-size: 14px
}

.f16 {
    font-size: 16px;
}

.divc {
    margin: 0 auto
}

.fb {
    font-weight: bold
}

.dis {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cl {
    clear: both;
    font-size: 0;
    height: 0;
    overflow: hidden;
}

.ti2 {
    text-indent: 2em;
}

.w1000 {
    width: 1000px;
}

.w980 {
    width: 980px;
}

.ovn {
    overflow: hidden;
    zoom: 1;
}

.r3 {
    border-radius: 3px;
}

.pr {
    position: relative
}

.cl10 {
    height: 10px;
    font-size: 0;
    overflow: hidden;
    clear: both;
}

.pl10 {
    padding-left: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pb10 {
    padding-bottom: 10px;
}

.p10 {
    padding: 10px;
}

a.more, a.more:link, a.more:visited {
    font-size: 12px;
    font-weight: normal;
    float: right;
}

a.more:hover, a.more:active {
    text-decoration: none;
}

.red, a.red, a.red:link, a.red:visited {
    color: #f00;
}

/*首页*/
.main {
    overflow: hidden;
    zoom: 1;
}

.banner {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.banner .title {
    position: absolute;
    left: 0px;
    z-index: 99;
    width: 915px;
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 50px;
    font-family: "Microsoft Yahei", "微软雅黑", "Arial Narrow", "微软雅黑";
}

.banner .mainTitle {
    line-height: 50px;
    font-size: 35px;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.banner .subTitle {
    line-height: 30px;
    font-size: 18px;
    color: #fff;
}

/*导航start*/
.nav {
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    zoom: 1;
    position: relative;
    z-index: 1;
}

.nav li {
    float: left;
    padding: 0px 18px;
    position: relative;
}

.nav li a, .nav li a:link, .nav li a:visited {
    font-size: 14px;
    font-weight: bold;
}

.nav li a:hover, .nav li a:active {
}

.nav .sub {
    display: none;
    left: 0;
    top: 40px;
    position: absolute;
    line-height: 30px;
}

.nav .sub p {
    zoom: 1;
    white-space: nowrap;
}

.nav .sub a, .nav .sub a:link, .nav .sub a:visited {
    display: block;
    padding: 0 17px;
    font-weight: normal;
}

.nav .sub a:hover, .nav .sub a:active {
    text-decoration: none;
}

/*导航end*/
.box {
    border: 1px solid #ddd;
}

.box .t {
    padding: 0px 20px 0px 22px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}

.box .t:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 16px;
    left: 8px;
    top: 12px;
}

.box .c {
    padding: 10px;
}

.panel .t {
    padding: 0px 20px 0px 10px;
    height: 42px;
    line-height: 42px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.panel .t:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 16px;
    left: 0px;
    top: 13px;
}

.panel .c {
    padding: 10px 0px;
}

.m_l {
    width: 234px;
}

.m_m {
    width: 492px;
}

.cm_l {
    width: 734px;
    border: 1px solid #ddd;
    min-height: 512px;
    height: auto !important;
    height: 512px;
    overflow: visible;
}

.cm_l .t {
    padding: 0px 20px 0px 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
}

.cm_l .c {
    padding: 10px;
}

.n_list li {
    font-size: 14px;
    padding: 0px 10px;
    line-height: 30px;
}

.n_list li span.tim {
    float: right;
    font-family: Tahoma, Geneva, sans-serif;
}

.nrtitle {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    overflow: visible;
}

.nrcontent {
    line-height: 28px;
    font-size: 14px;
    padding: 10px 0px;
}

.nrtitle h1 {
    color: #000;
    font-family: "微软雅黑", arial;
    font-size: 24px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 30px;
    font-weight: 800;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.nrtitle .titBar {
    border-bottom: 1px #E5E5E5 solid;
    padding-bottom: 8px;
    line-height: 22px;
    color: #7E7E7E;
    overflow: hidden;
    zoom: 1;
    /*text-align: center*/
}

.nrtitle .titBar .time, .nrtitle .titBar .about, .nrtitle .titBar .liulan {
    padding: 0 10px
}

.time .c {
    height: auto;
}

.time .c .tit {
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
}

.time .c p {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
}

.slideBox {
    width: 490px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
}

.slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1;
}

.slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.slideBox .hd ul li {
    float: left;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    line-height: 14px;
    text-align: center;
    background: #fff;
    cursor: pointer;
}

.slideBox .hd ul li.on {
    background: #f00;
    color: #fff;
}

.slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
}

.slideBox .bd img {
    width: 490px;
    height: 250px;
    display: block;
}

.picMarquee-left {
    overflow: hidden;
    position: relative;
}

.picMarquee-left .hd {
}

.picMarquee-left .hd .prev, .picMarquee-left .hd .next {
    display: block;
    width: 5px;
    height: 9px;
    float: right;
    margin-right: 5px;
    margin-top: 17px;
    overflow: hidden;
    cursor: pointer;
}

/*background: url("/content/templet/1/images/arrow.png") no-repeat;*/
.picMarquee-left .hd .next {
    background-position: 0 -50px;
}

.picMarquee-left .hd .prevStop {
    background-position: -60px 0;
}

.picMarquee-left .hd .nextStop {
    background-position: -60px -50px;
}

.picMarquee-left .bd {
    padding: 10px;
    padding-left: 8px;
}

.picMarquee-left .bd ul {
    overflow: hidden;
    zoom: 1;
}

.picMarquee-left .bd ul li {
    margin: 0 8px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}

.picMarquee-left .bd ul li .pic {
    /*非IE的主流浏览器识别的垂直居中的方法*/
    display: table-cell;
    position: relative;
    vertical-align: middle;
    /*设置水平居中*/
    text-align: center;
    /* 针对IE的Hack */
    *display: block;
    *font-size: 87.3px; /*约为高度的0.873，200*0.873 约为175*/
    *font-family: Arial; /*防止非utf-8引起的hack失效问题，如gbk编码*/
    width: 140px;
    height: 100px;
    border: 1px #f0f0f0 solid;
    padding: 1px;
    overflow: hidden;
}

.picMarquee-left .bd ul li .pic img {
    vertical-align: middle;
}

.picMarquee-left .bd ul li .pic a:hover img {
    border-color: #999;
}

.picMarquee-left .bd ul li .title {
    line-height: 24px;
    width: 144px;
    height: 24px;
    overflow: hidden;
    text-align: center;
}

.deadtime {
    height: auto;
    overflow: hidden;
    position: relative;
    border-top-width: 2px !important;
    position: relative;
}

.deadtime .t {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    padding-top: 13px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
}

.deadtime .c {
    margin: 0px auto;
    width: 220px;
    text-align: center;
    background: #fff;
}

.deadtime .c a, .deadtime .c a:link, .deadtime .c a:visited {
    color: #fff;
}

.deadtime .c a:hover, .deadtime .c a:active {
    text-decoration: underline;
}

.daojishi-p {
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    overflow: hidden;
    font-family: Tahoma;
    font-weight: bold;
    padding-left: 7px;
    padding-top: 52px;
    padding-bottom: 48px;
}

.daojishi-p li {
    height: 18px;
    float: left;
    text-align: center;
    padding-right: 3px;
    width: 53px;
}

a.but, a.but:link, a.but:visited, .but {
    border: 0px;
    margin: 0px auto;
    font-family: "Microsoft Yahei", "微软雅黑", "Arial Narrow", "微软雅黑";
    font-size: 18px;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    width: 218px;
    display: block;
    text-align: center;
}

a.but:hover, a.but:active, .but:hover {
    text-decoration: none;
}

.yqlj {
    overflow: hidden;
    zoom: 1;
}

.yqlj li {
    float: left;
    text-align: center;
    width: 146px;
    margin: 6px 6px;
    display: inline;
    border: 1px solid #ccc;
}

.yqlj li a {
    display: block
}

.yqlj li p {
    width: 146px;
    background: #fafafa;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.footer {
    border-top: 3px solid #e5e5e5;
    background: #fafafa;
    text-align: left;
    padding: 20px 0px;
}

.footer .c {
    width: 980px;
    margin: 0 auto;
    font-family: Arial, "微软雅黑";
}

.zhuce {
    padding: 20px;
    border: 1px solid #ddd;
}

.zhucetit {
    text-align: center;
    font-size: 26px;
    line-height: 40px;
    color: #000;
    font-weight: bold;
}

.zhucet {
    height: 26px;
    line-height: 26px;
    text-indent: 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px;
}

.zhuce table td {
    padding: 8px;
    background: #fff;
}

.tongyong {
    padding: 20px;
    border: 1px solid #ddd;
}

input[type=text] {
    line-height: 22px;
    height: 22px;
}

.tongyong fieldset {
    border: 0px;
}

.buzhou {
    overflow: hidden;
    padding-bottom: 20px;
}

.buzhou li {
    height: 36px;
    width: 187px;
    float: left;
    text-align: center;
    line-height: 36px;
}

.subarea {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.double a, .double a:link, .double a:visited {
    color: #fff;
    padding: 0px 5px;
}

.double a:hover, .double a:active {
    text-decoration: underline
}

/*编辑*/
.setbg {
    position: absolute;
    height: 30px;
    padding: 0px 10px 0px 28px;
    line-height: 30px;
    filter: alpha(opacity=70);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    border: 1px dotted #000;
    background-color: #676767;
    background-position: -257px 6px;
    color: #fff;
    font-family: "微软雅黑";
    top: 0px;
    right: 0px;
    cursor: pointer;
    display: none;
    z-index: 999999
}

.setbg:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.setbg a, .setbg a:link, .setbg a:visited {
    color: #fff;
}

/*分页*/

.yPager {
    padding: 15px 10px;
    border-top: 1px dotted #ddd;
    overflow: hidden;
    padding-bottom: 20px;
}

.yPager .inner {
    position: relative;
    left: 50%;
    float: left;
}

.yPager .disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.yPager a, .yPager span {
    position: relative;
    left: -50%;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: inline-block;
    margin-left: 8px;
    border-radius: 3px;
}

.yPager a:hover, .yPager .current {
}

.yPager a {
}

.yPager a, .yPager span {
    position: relative;
    left: -50%;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: inline-block;
    margin-left: 8px;
    border-radius: 3px;
}

.yPager a:visited {
}

/*表单*/
.htNow {
    line-height: 46px;
    overflow: hidden;
    padding-left: 20px;
    clear: both;
}

/*background: url(/content/templet/1/images/hthline.jpg) left center repeat-x;*/
.htNow span {
    background: #fff;
    display: block;
    padding: 0px 10px;
    float: left;
    font-size: 18px;
    color: #69737b;
    font-family: "Microsoft Yahei", "微软雅黑", "Arial Narrow", "微软雅黑";
}

.xinghao {
    font-size: 12px;
    color: #fc814b;
}

.form-group {
    overflow: hidden;
    padding-top: 5px;
    zoom: 1
}

.form-group input, .form-group select, .form-group textarea, .form-group .radio, .form-group .checkbox {
    float: left;
}

.form-group .radio, .form-group .checkbox {
    padding-right: 10px;
    overflow: hidden
}

.form-group select.input-s {
    width: 200px;
}

.form-group label {
    float: left;
    line-height: 36px;
    padding-right: 10px;
    width: 100px;
    overflow: visible;
    text-align: right;
}

.radio label, .checkbox label {
    width: auto;
    line-height: 18px;
}

.radio label input {
}

.input-s {
    width: 190px;
}

.form-group select.input-s {
    width: 200px;
}

select.input-mini {
    width: 80px;
}

.form-group p {
    float: left;
    padding: 0px 5px;
    line-height: 36px;
}

.form-group .tishi {
    float: left;
    padding: 0px 5px;
    color: #999;
    font-size: 12px;
}

.htsub {
    text-align: center;
    padding: 20px;
}

.htFilter {
    border: 1px solid #e8ecef;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    zoom: 1;
}

.htFilter .t {
    padding: 0px 10px;
}

.htFilter .t span {
    padding-right: 10px;
}

.htFilter .t span.num {
    font-weight: bold;
    color: #fc814b;
}

.htsub .btnLage {
    padding: 10px 60px;
}

.form-group {
    line-height: 22px;
}

/*会议列表*/
.subMeetingListBox {
    width: 714px;
    margin: 0 auto;
    padding-top: 18px
}

.subMeetingListItem {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px dotted #cecece
}

.subMeetingListItem .itemDate {
    width: 100px;
    float: left;
    padding-right: 15px;
    height: 82px;
    text-align: center;
    padding-top: 8px;
    font-family: Arial;
}

.subMeetingListItem .itemDate .itemDatexingqi {
    line-height: 25px;
    color: #FFF;
    font-size: 14px;
    color: #999;
}

.subMeetingListItem .itemDate .itemDateInfo {
    height: 48px;
    overflow: hidden;
    color: #444;
    font-weight: bold;
    width: 76px;
    margin: 0 auto;
    padding-top: 6px;
}

.subMeetingListItem .itemDate .itemDateInfo .year {
    display: block;
    height: 11px;
    font-size: 11px;
    line-height: 11px;
    padding-top: 6px;
    font-weight: bold;
    text-align: center;
}

.subMeetingListItem .itemDate .itemDateInfo .Month {
    display: block;
    height: 24px;
    font-size: 24px;
    line-height: 22px;
}

.subMeetingListItem .itemDate .itemDateInfo .date {
    overflow: hidden;
    width: 46px;
    color: #ff7b00;
    font-size: 40px;
    line-height: 40px;
    float: left
}

.subMeetingListItem .itemDate .itemDateInfo .nianyue {
    overflow: hidden;
    width: 30px;
}

.subMeetingListItem .itemDetail {
    width: 356px;
    float: left
}

.subMeetingListItem .itemDetail .itemDetailName {
    line-height: 30px
}

.subMeetingListItem .itemDetail .itemDetailName a {
    color: #06C;
    font-size: 14px;
    font-weight: bold
}

.subMeetingListItem .itemDetail .itemDetailName a:hover {
    color: #F60
}

.subMeetingListItem .itemDetail .itemTimeStyle {
    line-height: 20px
}

.subMeetingListItem .itemDetail .itemAreaAdd {
    line-height: 20px
}

.subMeetingListItem .itemDetail .itemAreaAdd span {
    margin-right: 15px
}

.subMeetingListItem .itemInfoBtn {
    width: 80px;
    height: 72px;
    float: right;
    padding-top: 4px;
}

.subMeetingListItem .itemInfoBtn a {
    display: block;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
}

.subMeetingListItem .itemInfoBtn p {
    text-align: center;
    line-height: 30px;
    color: #FFF
}

.subMeetingListItem .itemInfoBtn .meetCharge {
    width: 80px;
    height: 72px;
}

a.detail, a.detail:link, a.detail:visited {
    color: #ff7b00;
}

a.detail:hover, a.detail:active {
    color: #ff7b00;
    text-decoration: underline;
}

a.ckwz, a.ckwz:link, a.ckwz:visited {
    width: 80px;
    height: 26px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
    color: #fff;
}

a.ckwz:hover, a.ckwz:active {
}

.itemArea {
    width: 110px;
    padding-left: 20px;
    float: left;
    line-height: 30px;
}

/*会议详细*/
.thrMeettingItem {
    margin: 25px auto;
    margin-bottom: 5px;
}

.thrMeettingItemBox {
    margin: 0 auto;
    padding: 20px 20px;
    overflow: hidden;
    zoom: 1;
}

.thrMeettingItemBox li {
    width: 316px;
    padding-right: 10px;
    float: left;
    height: 25px;
    line-height: 25px;
}

.share {
    margin-top: 30px;
    font-weight: bold;
}

/*顶部*/
.topBar {
    height: 28px;
    line-height: 28px;
    width: 978px;
    margin: 0px auto;
}

.topBar .divc {
    padding-left: 10px;
}

.topBar a, .topBar a:link, .topBar a:visited {
    padding: 0px 10px;
}

.wxTc {
    position: absolute;
    background: #fff;
    width: 109px;
    height: 109px;
    position: absolute;
    top: 20px;
    left: -50px;
    text-align: center;
    padding: 22px 15px 15px 15px;
    z-index: 999999;
    display: none;
    zoom: 1
}

/*background: url(/content/templet/1/images/ewm.png) left top no-repeat;*/

/*中英文*/
.ml10 {
    margin-left: 10px;
}

.headertop {
    background: #ebebed;
    height: 42px;
    line-height: 40px;
}

.ico {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.lang {
    height: 40px;
}

.langt {
    padding-left: 38px;
}

/*background: url(/content/templet/1/images/language.png) left 0px no-repeat;*/
.lang-cn {
    padding-left: 20px;
}

/*background: url(/content/templet/1/images/language.png) -10px -40px no-repeat;*/
.lang-en {
    padding-left: 20px;
}

/*background: url(/content/templet/1/images/language.png) -10px -80px no-repeat;*/
.lang a {
    height: 40px;
    line-height: 40px;
}

.lang a.on, .lang a:hover {
    border-bottom: 2px solid #f40;
}

.qhui, a.qhui, a.qhui:link, a.qhui:visited {
    color: #999;
}